.slider-container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    transition: transform 1s ease;
}

.slider img {
    border-radius: 20px;
    width: 80%;
    height: auto;
}
