:root {
    --tab-active-bg: #ffffff;
    --tab-active-color: #000000;
    --tab-hover-bg: rgba(255, 255, 255, 0.1);
}

html.light {
    --tab-active-bg: #18181b;
    --tab-active-color: #ffffff;
    --tab-hover-bg: rgba(0, 0, 0, 0.06);
}


/* ============================================================
   Slider
   ============================================================ */
.slider-title {
    font-size: var(--fs-lg);
    font-weight: var(--fw-bold);
    margin-bottom: var(--mb-10);
    font-family: var(--font-sub);
}

/* ============================================================
   tab button
   ============================================================ */
.tab {
    background-color: var(--tab-active-bg);
    color: var(--tab-active-color);
    padding: var(--pd-2) var(--pd-12);
    border-radius: var(--ra-8);
    font-size: var(--fs-xs);
}